{% if site.buttondown_username %}
<div class="buttondown-container">
  <form
    action="https://buttondown.com/api/emails/embed-subscribe/{{ site.buttondown_username }}"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.com/{{ site.buttondown_username }}', 'popupwindow')"
    class="buttondown-form"
  >
    <label for="bd-email" class="buttondown-label">뉴스레터 구독하기</label>
    <div class="buttondown-input-group">
      <input
        type="email"
        name="email"
        id="bd-email"
        class="buttondown-input"
        placeholder="이메일 주소를 입력하세요"
        required
      />
      <button type="submit" class="buttondown-button">구독</button>
    </div>
  </form>
</div>
{% endif %}
