<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">Blog Home</h2>
    </a>
    <ul>
      <!-- <li><a href="{{ site.baseurl }}/">Posts</a></li> -->
      <!-- <li><a href="{{ '/tags' | prepend: site.baseurl }}">Tags</a></li> -->
      <!-- <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li> -->
    </ul>
    <a href="https://baseball.sylva.kr" class="nav-logo">
      <img src="{{ '/assets/logo.svg' | relative_url }}" alt="baseball.sylva.kr" style="height: 40px; width: 40px; vertical-align: middle;">
    </a>
  </div>
</nav>