.beehiiv-container {
  margin: 2rem 0;
  text-align: center;

  .beehiiv-wrapper {
    display: inline-block;
    text-align: center;
  }

  iframe {
    transform: scale(0.8);
    transform-origin: top center;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .beehiiv-description {
    margin: -0.2rem 0 0;
    font-size: 0.7rem;
    color: $default-tint;
    font-family: $sans-serif;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .beehiiv-container {
    margin: 1.5rem 0;
  }
}
